nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1vw 8vw;
    align-items: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}
img{
    width: 150px;
    cursor: pointer;
}

nav .navigation ul{
    display: flex;
    justify-content: flex-end;
    align-items:center;
}
nav .navigation ul li{
list-style: none;
margin-left: 30px;

}
nav .navigation ul li a{
    text-decoration: none;
    color: blue;
    font-size: 15px;
    font-weight: 500;
    transition: ease;
}
nav .navigation ul li a:hover{
color: yellow;
}



/* ----------------------home----------------- */

#home{
    background-image: linear-gradient(rgba(9,5,54,0.3),rgba(5,4,46,0.7)),url("images/home\ 1.jpg");
     width: 100%;
     height: 100vh;
     background-size: cover;
     background-position: center;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
}

#home h2{
    color: white;
    font-size: 2.2rem;
    letter-spacing: 1px;
}
#home p{
    color: white;
    font-size: 0.9rem;
    letter-spacing: 1px;
    width: 50%;
}
#home .btn{
    margin-top: 30px;
}
#home a.blue{
    color: white;
    background:rgb(21,21, 100);
    transition: 0.3s ease;
}
#home a.blue:hover{
    color:rgb(21,21, 100);
    background:white;
}

#home a.yellow{
    color: white;
    background: #FDC93B;
    
}


#home a.yellow:hover{
    color:#FDC93B;
    background:white;
}

#home a{
    text-decoration: none;
    font-size: 0.9rem;
padding: 13px 35px;
background-color: white;
font-weight: 600;
border-radius: 5px;

}


/* ----------------------features */
#features {
    padding: 5vw 8vw 0 8;
    text-align: center;
}

#features .fea-box{
    background: white;
    text-align: start;
}
#features .fea-box i{
font-size: 2.3 rem;
color: rgb(44, 44, 80);
}


#features .fea-box h3{
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(46, 46, 59);
    padding: 13px 0 7px 0 ;
}

#features .fea-box p{
    font-size: 1rem;
    font-weight: 400;
    color: rgb(70, 70, 87);
    
}

#features h1{
    font: bold;
    color: rgb(44, 44, 80);

}

#features .fea-base{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
    margin: auto;
    margin-top: 13%;
}


/* /* =---------------------------courses-------- */
 

#course{
    padding: 8vm 8vm 0 8vm;
    text-align:center;
    font-size: larger;
    position: relative;
    top: 80px;
   
}
#course h1{
    color: rgb(21,21, 100);
}

#course p{
    color: grey;
    font-size: medium;
}

#course .courses{
    text-align: start;
    background-color: white;
    height: 100%;
    position: relative;
}

#course .courses img{
    height: 50%;
    width: 85%;
    background-size: cover;
    background-position: center;
}

#course .course-box{
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
    margin: auto;
    margin-top: 15%;
}


#course .courses .details{
    padding: 15px 15px 0 15px;
}
#course .courses .details i{
    color: #FDC93B;
    font-size: .9rem;
}

#course .courses .cost{
    background-color: rgb(74,74,136);
    color: white;
  line-height: 70px;
  height: 70px;
  width: 70px;
  text-align: center;
  border-radius: 50%;
  position: relative;
  left: 200px;
  bottom: 135px;
  
}


/* -------------------------------registration------------------- */

#registration{
    position: relative;
    top: 170px;
    padding: 6vm 8vm 6vm 8vm;
    background:url("./images/reg1.jpgs");
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;}
   

#registration .reminder h1{
    color:rgb(74,74,136);
    font-size: xx-large;
    font: bold;
}

#registration .reminder .time{
    display: flex;
    margin-top: 40px;
}

#registration .reminder .time .date{
    text-align: center;
padding: 13px 33px;
background-color: blueviolet;
backdrop-filter: blur(4px);
box-shadow: 0 8px 32px 0 rgba(5,4,46,0.7);
margin: 0 5px 10px 5px;
border-radius: 10px;
border: 1px solid rgba(255, 255, 255, 0.18);
font-size: 1.1rem;
font-weight: 600;
}


#registration .form{
    background-color: blueviolet;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 40px ; 
    box-shadow: 0 8px 32px 0 rgba(5,4,46,0.7);
}

#registration .form input{
margin:15px 0;
padding: 15px 10px;
border: 1px solid blueviolet;
outline: none;
}



#registration .form a.yellow{
    color:#FDC93B;
    background:yellow;
    transition: 0.3s ease;
    text-decoration: none;
    font-size: 0.9rem;
padding: 13px 35px;
background-color: white;
font-weight: 600;
border-radius: 5px;

}

#registration .form a.yellow:hover{
    color:rgb(21,21 ,100 );
    background:white;
    
}

#registration .form .btn{
    margin-top: 20px;}


    #registration .form input::placeholder{
        color:rgb(21,21 ,100 ); 
        font-size:0.9rem ;
        font-weight: 500;
    }



    /* -------------------profile----------------- */

    #experts{
        position: relative;
        top: 250px;
     padding: 8vm 8vm 0 8vm;
        
        }

    #experts h1{
        
        color:rgb(21,21 ,100 ); 
        font: bold;
    }    

   .expertss {
    text-align: center;

   }

   .expertss p{
    font: bold;
    color: black;
   }


    #experts .expert-box{
        display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 86%;
    margin: auto;
    margin-top: 15%;
}
    

#experts .expert-box .profile{
background: white;
padding: 5px 5px;
}


.pro-links{
    margin-top: 5px;
}


.pro-links i{
   padding: 2px 10px;
    border: 1px solid(rgb(21,21,100));
    cursor: pointer;
    transition: 0.3s ease;
}

.pro-links i:hover{
    background: rgb(21,21 ,100 );
    color:white;
    border: 1px solid(rgb(21,21,100));
    cursor: pointer;
}


#experts h6{
    font-size: large;
    font: bold;
}


/* ------------------foooter-col------------ */

footer{
    position: relative;
    top: 300px;


}

footer{
padding: 8vm;
background-color: #101c32;
display: flex;
align-items: flex-start;
justify-content: space-between;
flex-wrap: wrap;
}
footer .footer-col{
    padding-bottom: 40px;
}

footer h3{
    color: rgb(240, 241, 245);
    font-weight: 600;
    padding-bottom: 20px;
}


footer li{
    list-style: none;
color: #7b838a;
padding :10px 0;
font-size: 15px;
cursor: pointer;

}



foooter li:hover{
    color: rgb(241, 240, 245);
}

footer p{
    color: #7b838a; 
}

footer .subscribe{
    margin-top: 20px;
}

footer input{
    width: 140px;
    padding: 2px 8px;
    background: #334F6C;
    border: none;
    outline: none;
    color:white;
    }


#footer .subscribe a.yellow{
    color: white;
    background: #FDC93B;
    transition: 0.3s ease;
    
}


#footer .subscribe a.yellow:hover{
    color:rgb(21,21 ,100 );
    background:white;
}

#footer .subscribe a{
    
    text-decoration: none;
    font-size: 0.9rem;
padding: 13px 35px;
background-color: white;
font-weight: 600;
border-radius: 5px;

}